<h1> <%= @blogger.name %> </h1>
<% likes_arr = [] %>
<% @blogger.posts.each do |post| %>
    <% likes_arr.push(post.likes) %>
<% end %>

<label> Total Likes: <%= likes_arr.sum %> </label>

<% max_likes_post =  @blogger.posts.max_by do |post| %>
    <% post.likes %>
<% end %>
<br>
<label> Featured Post: <%= link_to max_likes_post.title, post_path(max_likes_post.id) %>  </label>
